## Deliverable 2. Create a Customer Travel Destinations Map.

In [ ]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [ ]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

In [ ]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [ ]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

In [ ]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

In [ ]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()

In [ ]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Weather", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

In [ ]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
     
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

In [30]:
hotel_df.head()

,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
6,Kapaa,US,80.58,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
10,Kahului,US,79.86,clear sky,20.8947,-156.4700,Maui Seaside Hotel
11,Guatire,VE,84.70,broken clouds,10.4762,-66.5427,Parque Residencial Canaima I
15,Butaritari,KI,81.81,light rain,3.0707,172.7902,Isles Sunset Lodge
16,Kudahuvadhoo,MV,81.54,scattered clouds,2.6708,72.8944,Niyama Private Islands Maldives

In [48]:
hotel_df

,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
6,Kapaa,US,80.58,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
10,Kahului,US,79.86,clear sky,20.8947,-156.4700,Maui Seaside Hotel
11,Guatire,VE,84.70,broken clouds,10.4762,-66.5427,Parque Residencial Canaima I
15,Butaritari,KI,81.81,light rain,3.0707,172.7902,Isles Sunset Lodge
16,Kudahuvadhoo,MV,81.54,scattered clouds,2.6708,72.8944,Niyama Private Islands Maldives
...,...,...,...,...,...,...,...
675,Carauari,BR,83.62,overcast clouds,-4.8828,-66.8958,Hotel Fellip
685,Poso,ID,76.26,overcast clouds,-1.3959,120.7524,Hotel 77 Poso
689,Makakilo City,US,77.61,few clouds,21.3469,-158.0858,Marriott's Ko Olina Beach Club
692,Tchamba,TG,80.83,scattered clouds,9.0333,1.4167,ROYAL HOTEL TCHAMBA
699,Tamandare,BR,80.08,overcast clouds,-8.7597,-35.1047,Pousada 100 Passos

In [50]:
# 7. Drop the rows where there is no Hotel Name.
nan_value=float("NaN")
hotel_df.replace("", nan_value, inplace=True)
hotel_df.dropna(subset = ["Hotel Name"],inplace=True)

In [51]:
hotel_df

,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
6,Kapaa,US,80.58,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
10,Kahului,US,79.86,clear sky,20.8947,-156.4700,Maui Seaside Hotel
11,Guatire,VE,84.70,broken clouds,10.4762,-66.5427,Parque Residencial Canaima I
15,Butaritari,KI,81.81,light rain,3.0707,172.7902,Isles Sunset Lodge
16,Kudahuvadhoo,MV,81.54,scattered clouds,2.6708,72.8944,Niyama Private Islands Maldives
...,...,...,...,...,...,...,...
675,Carauari,BR,83.62,overcast clouds,-4.8828,-66.8958,Hotel Fellip
685,Poso,ID,76.26,overcast clouds,-1.3959,120.7524,Hotel 77 Poso
689,Makakilo City,US,77.61,few clouds,21.3469,-158.0858,Marriott's Ko Olina Beach Club
692,Tchamba,TG,80.83,scattered clouds,9.0333,1.4167,ROYAL HOTEL TCHAMBA
699,Tamandare,BR,80.08,overcast clouds,-8.7597,-35.1047,Pousada 100 Passos

In [52]:
hotel_df.isnull().sum()

City               0
Country            0
Max Temp           0
Current Weather    0
Lat                0
Lng                0
Hotel Name         0
dtype: int64

In [53]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [56]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Weather}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [57]:
# 11a. Add a marker layer for each city to the map. 
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))