In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Puerto Ayora,-0.7393,-90.3518,82.36,72,46,8.86,EC,2022-01-29 17:06:26
1,1,Comodoro Rivadavia,-45.8667,-67.5000,84.06,9,0,20.71,AR,2022-01-29 17:06:26
2,2,Caravelas,-17.7125,-39.2481,86.99,59,19,10.51,BR,2022-01-29 17:06:27
3,3,Bluff,-46.6000,168.3333,57.96,84,100,6.38,NZ,2022-01-29 17:06:27
4,4,Maceio,-9.6658,-35.7353,87.24,62,100,8.05,BR,2022-01-29 17:02:48

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
gmaps.configure(api_key=g_key)
fig=gmaps.figure()
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [18]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Puerto Ayora,-0.7393,-90.3518,82.36,72,46,8.86,EC,2022-01-29 17:06:26
1,1,Comodoro Rivadavia,-45.8667,-67.5000,84.06,9,0,20.71,AR,2022-01-29 17:06:26
2,2,Caravelas,-17.7125,-39.2481,86.99,59,19,10.51,BR,2022-01-29 17:06:27
4,4,Maceio,-9.6658,-35.7353,87.24,62,100,8.05,BR,2022-01-29 17:02:48
5,5,Lodja,-3.4833,23.4333,75.92,70,83,1.90,CD,2022-01-29 17:06:27
6,6,Arraial Do Cabo,-22.9661,-42.0278,84.06,70,75,5.75,BR,2022-01-29 17:06:28
8,8,Rikitea,-23.1203,-134.9692,77.27,75,82,12.50,PF,2022-01-29 17:04:40
10,10,Mahebourg,-20.4081,57.7000,80.89,83,40,11.50,MU,2022-01-29 17:06:29
21,21,Aranos,-24.1333,19.1167,86.97,33,96,20.20,NaN,2022-01-29 17:06:32
22,22,Hermanus,-34.4187,19.2345,80.91,62,0,20.94,ZA,2022-01-29 17:04:39

In [19]:
preferred_cities_df.count()

City_ID       166
City          166
Lat           166
Lng           166
Max Temp      166
Humidity      166
Cloudiness    166
Wind Speed    166
Country       165
Date          166
dtype: int64

In [20]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                  City Country  Max Temp      Lat       Lng Hotel Name
0         Puerto Ayora      EC     82.36  -0.7393  -90.3518
1   Comodoro Rivadavia      AR     84.06 -45.8667  -67.5000
2            Caravelas      BR     86.99 -17.7125  -39.2481
4               Maceio      BR     87.24  -9.6658  -35.7353
5                Lodja      CD     75.92  -3.4833   23.4333
6      Arraial Do Cabo      BR     84.06 -22.9661  -42.0278
8              Rikitea      PF     77.27 -23.1203 -134.9692
10           Mahebourg      MU     80.89 -20.4081   57.7000
21              Aranos     NaN     86.97 -24.1333   19.1167
22            Hermanus      ZA     80.91 -34.4187   19.2345

In [24]:
# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import g_key

In [25]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [28]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [34]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Puerto Ayora,EC,82.36,-0.7393,-90.3518,Finch Bay Galapagos Hotel
1,Comodoro Rivadavia,AR,84.06,-45.8667,-67.5000,Austral Hotel
2,Caravelas,BR,86.99,-17.7125,-39.2481,Pousada dos Navegantes
4,Maceio,BR,87.24,-9.6658,-35.7353,Poutur Pousada
5,Lodja,CD,75.92,-3.4833,23.4333,

In [35]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [36]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))